<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levelInfo</key>
	<dict>
		<key>money</key>
		<integer>10000</integer>
		<key>currlevel</key>
		<string>levelInfo_0.plist</string>
		<key>nextlevel</key>
		<string>levelInfo_1.plist</string>
		<key>group</key>
		<dict>
			<key>1</key>
			<dict>
				<key>type1Num</key>
				<integer>0</integer>
				<key>type1Hp</key>
				<integer>0</integer>
				<key>type2Num</key>
				<integer>0</integer>
				<key>type2Hp</key>
				<integer>0</integer>
				<key>type3Num</key>
				<integer>0</integer>
				<key>type3Hp</key>
				<integer>0</integer>
        <key>type4Num</key>
        <integer>3</integer>
        <key>type4Hp</key>
        <integer>200</integer>
        <key>type5Num</key>
        <integer>0</integer>
        <key>type5Hp</key>
        <integer>0</integer>
			</dict>

      <key>2</key>
			<dict>
				<key>type1Num</key>
				<integer>0</integer>
				<key>type1Hp</key>
				<integer>0</integer>
				<key>type2Num</key>
				<integer>0</integer>
				<key>type2Hp</key>
				<integer>0</integer>
				<key>type3Num</key>
				<integer>0</integer>
				<key>type3Hp</key>
				<integer>0</integer>
        <key>type4Num</key>
        <integer>0</integer>
        <key>type4Hp</key>
        <integer>0</integer>
        <key>type5Num</key>
        <integer>10</integer>
        <key>type5Hp</key>
        <integer>150</integer>
			</dict>

     
      <key>3</key>
			<dict>
				<key>type1Num</key>
				<integer>0</integer>
				<key>type1Hp</key>
				<integer>0</integer>
				<key>type2Num</key>
				<integer>0</integer>
				<key>type2Hp</key>
				<integer>0</integer>
				<key>type3Num</key>
				<integer>10</integer>
				<key>type3Hp</key>
				<integer>150</integer>
        <key>type4Num</key>
        <integer>0</integer>
        <key>type4Hp</key>
        <integer>0</integer>
        <key>type5Num</key>
        <integer>0</integer>
        <key>type5Hp</key>
        <integer>0</integer>
			</dict>

       <key>4</key>
			<dict>
				<key>type1Num</key>
				<integer>0</integer>
				<key>type1Hp</key>
				<integer>0</integer>
				<key>type2Num</key>
				<integer>10</integer>
				<key>type2Hp</key>
				<integer>200</integer>
				<key>type3Num</key>
				<integer>0</integer>
				<key>type3Hp</key>
				<integer>0</integer>
        <key>type4Num</key>
        <integer>0</integer>
        <key>type4Hp</key>
        <integer>0</integer>
        <key>type5Num</key>
        <integer>0</integer>
        <key>type5Hp</key>
        <integer>0</integer>
			</dict>
      
       <key>5</key>
			<dict>
				<key>type1Num</key>
				<integer>10</integer>
				<key>type1Hp</key>
				<integer>150</integer>
				<key>type2Num</key>
				<integer>0</integer>
				<key>type2Hp</key>
				<integer>0</integer>
				<key>type3Num</key>
				<integer>0</integer>
				<key>type3Hp</key>
				<integer>0</integer>
        <key>type4Num</key>
        <integer>0</integer>
        <key>type4Hp</key>
        <integer>0</integer>
        <key>type5Num</key>
        <integer>0</integer>
        <key>type5Hp</key>
        <integer>0</integer>
			</dict>
      
      
		</dict>
	</dict>
	<key>resources</key>
	<dict>
		<key>map</key>
		<string>map_1.tmx</string>
	</dict>
</dict>
</plist>
